<div class="center jumbotron col-lg-8 main_banner">
  <%= image_tag('black_ssp.jpg', :size => "300x200" ) %>
  <h1>Welcome to foodforsoul.com</h1>
  <h2>The ultimate guide for recipes, resources and restaurants.</h2>
  <%= link_to "Sign up now!", register_path, class: "btn btn-lg" %>
</div>

<%= render 'pages/sidebar' %>