<div class="center jumbotron col-lg-8 main_banner">
  <h1>Welcome to foodforsoul.com</h1>
  <h2>The ultimate international recipes website.</h2>
  <%= link_to "Sign up now!", register_path, class: "btn btn-lg" %>
</div>

<div class="row page_background">
  
  <div class="col-xs-12 col-sm-4  trending_box panel">
    <div class="row">
      <h3 class="trending_title center">
        Trending Recipes
      </h3>
    </div>
    <div class="row">

    </div>
  </div>

  <div class="col-xs-12 col-sm-4  trending_box panel">
    <div class="row">
      <h3 class="trending_title center">
        Recipe of the Day
      </h3>
    </div>
    <div class="row">

    </div>
  </div>

  <div class="col-xs-12 col-sm-4 trending_box panel">
    <div class="row">
      <h3 class="trending_title center">
        View Recipes as Guest
      </h3>
    </div>
    <div class="row">

    </div>
  </div>

</div>