    <div class="nav_log_button dropdown pull-right">
        <button class="btn btn-default dropdown-toggle header_menu_btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Menu
              <span class="caret"></span>
        </button>
        <ul class="dropdown-menu header_menu_btn" aria-labelledby="dropdownMenu1">
            <li><%= link_to "New Recipe", new_recipe_path %></li>
            <li><%= link_to "View Recipes", recipes_path %></li>
            <li><%= link_to "View Chefs", chefs_path %></li>
            <li><a href="#">Cooking resources</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
      </div>  